$yellow-green: #fdda24;
$blue-light: #00aec7;
$blue-dark: #0033a0;
$gray-light: #e6e6e6;
$white: #fff;
$color-error: #ff585d;
$firstDefaultColor: #f4f4f4;
$secondDefaultColor: #53565a;
$thirdDefaultColor: #dae1f1;
$fourthDefaultColor: #464646;
$firstGrayText: #333333;
$secondGrayText: #666666;
$thirdGrayText: #999999;
$grayBorder: #dddddd;
$seconGrayBorder: #f1f1f1;
$bgSection: #fdfdfd;
